<div class="row col-md-4 offset-md-4">
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <input type="text" name="nombre" [(ngModel)]="usuario.nombre" placeholder="Nombre" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="apellidoP" [(ngModel)]="usuario.apellidoP" placeholder="Apellido Paterno" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="apellidoM" [(ngModel)]="usuario.apellidoM" placeholder="Apellido Materno" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="direccion" [(ngModel)]="usuario.direccion" placeholder="Direccion" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="telefono" [(ngModel)]="usuario.telefono" placeholder="Telefono" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="correo" [(ngModel)]="usuario.correo" placeholder="Correo" class="form-control">
        </div>
        <div class="form-check form-check-inline">
          <input class="form-control" type="text" [(ngModel)]="usuario.perfil" id="inlineCheckbox1" name="perfil">
        </div>
      
        <button class="btn btn-success btn-block" (click)="edit ? update() : save()">
         GUARDAR
        </button>
      </form>
      

    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card card-body text-center">
 
    <h3>{{usuario.id}}. {{usuario.nombre == '' ? 'Nombre' : usuario.nombre}}</h3>
    <p>{{usuario.apellidoP}}</p>
    
  </div>
</div>