<div class="row col-md-4">
  <table class=" table table-borderless col-md-2">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido Paterno</th>
        <th scope="col">Apellido Materno</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Usuar of Usua">
        <td>
          {{Usuar.nombre}}
        </td>
        <td>
          {{Usuar.apellidoP}}
        </td>
        <td>
          {{Usuar.apellidoM}}
        </td>
      </tr>
    </tbody>
  </table>

</div>

<table>
  <thead>
    
  </thead>
</table>